.dropdown-menu{
    display: none;
    transform-origin: top right;
    -webkit-animation-name: transformScale;
    -webkit-animation-duration: 0.3s;
    animation-name: transformScale;
    animation-duration: 0.3s
}
  
#checkbox-link:checked  + .dropdown-menu {
    display: block;
}

/* Add Animation */
@-webkit-keyframes transformScale {
    from {transform: scale(0,0); opacity: 0} 
    to {transform: scale(100%,100%); opacity: 1}
}
  
@keyframes transformScale {
    from {transform: scale(0,0); opacity: 0}
    to {transform: scale(100%,100%); opacity: 1}
}

